.infobox, .infobox_v2, .infobox_v3 {
    .entete {
      padding: 10px 15px;
      font-size: 2em;
      text-align: center;
      background-position: right center;
      background-repeat: no-repeat;
      background-size: auto 100%;
    }
    .bloc {
        text-align: center;
    }
}