@forward './fr';
.wikiContent {

  img {
    overflow: hidden;
    filter: drop-shadow(0 0 1px #fff);
  }

  .navbar {
    display: none!important;
  }

  .infobox,
  .infobox_v2,
  .infobox_v3 {
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    place-items: stretch;
    float: right;
    clear: right;
    min-width: 25em;
    max-width: 30%;
    margin: 15px 0 15px 15px;
    font-size: 0.9em;
    line-height: 1.7em;
    border-radius: 10px;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    table {
      display: flex;
      flex-flow: column nowrap;
      place-items: stretch;
    }
    tr,
    td {
      flex: 1 1 auto;
      display: flex;
      margin: 0;
      place-items: stretch;
      justify-content: center;
      flex-flow: row wrap;
      border: none;
      br {
        content: "";
        width: 100%;
      }
    }
    th {
      flex: 1 1 auto;
      display: block;
      padding: 3px 5px;
      text-align: left;
    }
    > tbody,
    > caption {
      display: flex;
      flex-flow: column nowrap;
    }
    > tbody > tr {
      display: flex;
      flex-flow: row nowrap;
      min-width: 100%;
    }
    td:only-child,
    th:only-child {
      width: 100%;
    }
    tbody > tr > td,
    tbody > tr > th {
      flex: 1 0;
    }
    caption,
    tr {
      border-bottom: 1px solid grey;
      &:last-child {
        border-bottom: none;
      }
    }
    img {
      margin: 5px 0;
      vertical-align: middle;
    }
    audio {
      height: 2em;
    }
    .navigation-only,
    .noprint:not(.mw-cite-backlink) {
      display: none;
    }
    .legend {
      padding: 3px 5px;
      text-align: center;
    }
    .image,
    .images {
      max-width: 100% !important;
      display: inline-flex;
      width: 100%;
      justify-content: space-around;
      text-align: center;
      align-items: center;
    }
    @media (max-width: 720px) {
      float: none!important;
      width: 100% !important;
      max-width: 100% !important;
      margin: 5px 0;
    }
    .infobox-caption {
      flex-basis: 100%;
      text-align: center;
    }
    p {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .hatnote {
    display: inline-block;
    padding: 0.5em 1.5em;
    margin-bottom: 1em;
    font-size: 0.85em;
    line-height: 1.4;
    border-radius: 2em;
  }
  .tleft,
  .floatleft,
  .tright,
  .floatright {
    margin: 1.2em;
  }
  .tleft,
  .floatleft {
    clear: left;
    float: left;
  }
  .tright,
  .floatright {
    clear: right;
    float: right;
  }
  .tleft {
    margin-left: -3.75em;
    @media screen and (max-width: 1220px) {
      margin-left: -1.75em;
    }
  }
  .tright {
    margin-right: -3.75em;
    @media screen and (max-width: 1220px) {
      margin-right: -1.75em;
    }
  }
  .thumbcaption {
    padding: 0.5em;
    font-size: 0.8em;
  }
  .thumb {
    @media (max-width: 720px) {
      float: none!important;
      max-width: min(100%, calc(100vw - 30px))!important;
      display: flex;
      justify-content: center;
      margin: 0;
    }
  }
  .thumbinner {
    overflow: hidden;
    max-width: 100%;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px #aaa5;
    img {
      // width: 100%!important;
    }
    @media (max-width: 720px) {
      max-width: 100% !important;
      margin: 5px 0;
    }
  }
  .multicol {
    width: 100%!important;
    tr {
      display: flex;
      flex-wrap: wrap;
      >td {
        flex: 1 0 300px;
      }
    }
  }
  .wikitable {
    border-collapse: collapse;
    tr, th, td {
      border: 1px solid grey;
    }
    @media (max-width: 720px) {
      overflow-x: scroll;
    }
  }
  table.centre,
  table.center {
    margin: 1em auto;
  }
  .center, .centre {
    text-align: center;
  }
  ul.gallery {
    margin: 2px auto;
    text-align: center;
  }
  .gallerycaption {
    text-align: center;
    font-weight: bold;
  }
  .gallerybox {
    display: inline-block;
    vertical-align: top;
    img {
      display: block;
      margin: auto;
    }
  }
  .gallerytext {
    font-size: 0.8em;
    text-align: center;
    p {
      margin-top: 0.3em;
    }
  }
  .reflist {
    font-size: 0.8em;
  }

  //TODO: some check
  *[style*="background"], *[bgcolor] {
    color: black;
  }
  *[style*="transparent"] {
    color: white;
  }
}
