#ignore the compiled project
bin/App.js
#ignore the npm module, you can install them : cd bin ; npm install ;
bin/node_modules
#ignore log folder;
bin/log
bin/ssl
#ignore folder dedicated to local testing
localTesting