* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#chatSection {
	background: #23272a;
	color: #eee;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	top: 50%;
	height: 50%;
	width: 100%;

}

.uiForm {
	background: #23272a;
	padding: 3px;
	bottom: 0;
	width: 100%;
	border-top: 2px solid #2f353a;
	display: inline-flex;

}

#actionSection > div {
	display: inline-flex;
	width: 100%;
	flex: 1;
	height: 2.5em;
	text-align: center;
}
#stateName, #actionSection > div > p {
	flex: 1;
	margin: auto;
}
#stateTime, #playerVote, #pageEnd, #pageStart {
	flex: 2;
	margin: auto;
}

#votingForm {
	height: 2.5em;
	background: transparent;
}

#inputVote {
	background: #23272a;
}


.uiInput {
	border: 0;
	background: #3d4449;
	color: #eee;
	padding: 10px;
	flex: 1;
	margin-right: 2px;
	border-radius: 5px;
}

#inputMessage:focus, #inputVote:focus {
	outline: none;
}

.uiSubmit {	
	font-weight: 800;
	color: #23272a;
	background: #158caa;
	border: none;
	border-radius: 5px;
	padding-left: 1em;
	padding-right: 1em;
	transition: all ease-in-out 0.1s;
}

.uiSubmit:active {
	transform: scale(0.95);
}

.uiSubmit:focus {
	outline: none;
}

#outputMessages {
	color: #eee;
	list-style-type: none;
	display: flex;
	flex-direction: column-reverse;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	flex: 1;
	width: 100%;
	scroll-behavior: smooth;
}

#outputMessages li {
	padding: 5px 10px;
	word-break: break-word;
	border-top: 1px solid #2f353a;
}

#actionSection {
	background: #393e46;
	color: #eee;
	flex-wrap: wrap;
	flex: 1;
	margin: 0;
	padding: 0;
	top: 0;
	overflow-y: scroll;
	height: 50%;
	width: 100%;
	scroll-behavior: smooth;

}

#uiSection {
	background: #23272a;
	width: 50vw;
	height: 100vh;
	position: fixed;
	bottom: 0;
	left: -50vw;
	transition: all ease-in-out 0.25s;
}
#labelShowUI {
	
	font-weight: bold;
	text-align: center;
	padding: 0.5em 0.75em;
	border-radius: 10px;
	size: 2em;
	color: white;
	display: inline-block;
	background: #158caa;
	position: absolute;
	left: 50vw;
	transition: all ease-in-out 0.2s;
	transform: rotate(0deg);
}

#showUI {
	position: fixed;
	left: -10000px;
}

#uiSection:hover #labelShowUI {
	transform: rotate(180deg);
}

#uiSection:hover, #showUI:checked + #uiSection {
	left: 0vw;
}
/* custom Scrollbar for webkit only ( don't work on ie and firefox ) */

/* width */
#outputMessages::-webkit-scrollbar, #actionSection::-webkit-scrollbar {
	width: 15px;

}
  
  /* Track */
#outputMessages::-webkit-scrollbar-track, #actionSection::-webkit-scrollbar-track {
	background: #5a626e; 
	border-radius: 7.5px;
}
   
  /* Handle */
#outputMessages::-webkit-scrollbar-thumb, #actionSection::-webkit-scrollbar-thumb {
	background: #3f444d; 
	border-radius: 7.5px;
}

#showUI:checked + #uiSection #labelShowUI {
	transform: rotate(180deg) !important;
	background: red !important;
}