* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1.7em;
    color: #acacac;
    font-size: 13px;
}
p {
    overflow: hidden;
    text-overflow: ellipsis;
}


.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.splash .pure-button {
    margin: 10px;
}

.neon-button {
    border: 1px solid rgb(24, 161, 196);
    box-shadow: 0 0 7px rgb(24, 161, 196), 0 0 7px rgb(24, 161, 196) inset;
    background-color: #1f2c41;
    color: #1f8dd6;
    cursor: pointer;
    border-radius: 5px;
    font-size: 120%;
    padding: 1em 3em;
    
    text-decoration: none;
}
.extra-margin {
    margin-top: 2em;
}

.content-wrapper .content:nth-child(even), .dark {
    background-color: #222831;
    color: #29a19c;
}
.content-wrapper .content:nth-child(odd) {
    background-color: #393e46;
    color: #ddd;
}
.content-wrapper .content p {
    color: #adadad;
}
.content-wrapper .content:nth-child(even) .pure-form input[type] {
    border: 2px solid #2b6e6c;
}
.content-wrapper .content:nth-child(odd) .pure-form input[type] {
    border: 2px solid #2a2d31;
}

.pure-form input[type] {
    background: transparent;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
    transition: all ease-in-out 0.15s;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}
.pure-form input[type]:focus {
    box-shadow: 3px 3px 5px 1.5px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}

.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}

.splash-container {
    /*background: url('../res/svg/hexaNeon.svg');*/
    background-color: #222;
    background-attachment: fixed;
    background-repeat: repeat;
    overflow: hidden;
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    width: 80%;
    height: 88%;
    margin: auto;
    position: absolute;
    top: 0px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

.splash-head {
    font-size: 20px;
    margin: 10px;
		font-weight: bold;
		color: rgb(24, 161, 196);
		border: 3px solid rgb(24, 161, 196);
		border-radius: 35px;
		box-shadow: 0 0 25px rgb(24, 161, 196), 0 0 25px rgb(24, 161, 196) inset;
		padding: 1em 1.6em;
		font-weight: 100;
		border-radius: 5px;
		line-height: 1em;
		text-shadow: 0 0 25px rgb(24, 161, 196);
		animation: neon .8s ease-in-out infinite alternate;
}

.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}
.large-font {
    font-size: 120%;
}

.content-wrapper {
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

.content {
    padding: 1em 1em 3em;
}

.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }

.QRcode {
    padding: 30px;
    border-radius: 15px;
    background-color: white;
}


@media (min-width: 1000px) {

    body {
        font-size: 16px;
    }

    .splash {
        width: 50%;
        height: 88%;
    }

    .splash-head {
        font-size: 250%;
    }

}

@media (min-width: 78em) {

    .splash-head {
        font-size: 300%;
    }
}
