
:root {
    scroll-behavior: smooth;
}
body, html {
  overscroll-behavior: none;
}
  
@media (prefers-reduced-motion: reduce) {
    :root {
      scroll-behavior: auto;
    }
}
.no-touch {
  ::-webkit-scrollbar {
    width: 12px;
    border-radius: 6px;
    pointer-events: none;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    pointer-events: none;
  }
  &.body--dark {
    ::-webkit-scrollbar {
      background: rgba(0,0,0,.3);
    }
    ::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 6px rgba(0,0,0,1);
    }
    ::-webkit-scrollbar-thumb:hover {
      box-shadow: inset 0 0 3px rgba(54,217,210,0.5);
    }
    ::-webkit-scrollbar-thumb:active {
      box-shadow: inset 0 0 6px rgba(54,217,210,0.5);
    }
  }
  &.body--light {
    ::-webkit-scrollbar {
      background: rgba(0,0,0,.3);
    }
    ::-webkit-scrollbar-thumb {
      background: rgba(0,0,0,.2);
    }
    ::-webkit-scrollbar-thumb:hover {
      background: rgba(0,0,0,.25);
    }
    ::-webkit-scrollbar-thumb:active {
      background: rgba(0,0,0,.3);
    }
  }
}

.action-btn {
  background: var(--wa-color-dark-teal);
  color: var(--wa-color-blue-white);
}