$clr-dark: hsl(0,0%,12%);
$clr-dark-alt: hsl(203,22%,7%);
$clr-light: hsl(180,100%,99%);
$clr-dark-teal: hsl(187,76%,40%);
$clr-teal: hsl(187,86%,49%);
$clr-light-teal: hsl(187,97%,87%);

:root {

  --clr-dark: hsl(0,0%,12%);
  --clr-dark-alt: hsl(203,22%,7%);
  --clr-light: hsl(180,100%,99%);
  --clr-dark-teal: hsl(187,76%,40%);
  --clr-teal: hsl(187,86%,49%);
  --clr-light-teal: hsl(187,97%,87%);

}
.body--dark {
  --clr-main: var(--clr-dark);
  --clr-alt: var(--clr-dark-alt);
  --clr-accent: var(--clr-teal);
  --clr-accent-alt: var(--clr-dark-teal);
  --clr-reverse: var(--clr-light);
}
.body--light {
  --clr-main: var(--clr-light);
  --clr-alt: var(--clr-light-teal);
  --clr-accent: var(--clr-dark-alt);
  --clr-accent-alt: var(--clr-dark);
  --clr-reverse: var(--clr-dark);
}

$clr-main: var(--clr-main);
$clr-alt: var(--clr-alt);
$clr-accent: var(--clr-accent);
$clr-accent-alt: var(--clr-accent-alt);
$clr-reverse: var(--clr-reverse);
