$clr-dark: hsl(0,0%,12%);
$clr-dark-alt: hsl(203,22%,7%);
$clr-light: hsl(180,100%,98%);
$clr-dark-teal: hsl(187,76%,24%);
$clr-teal: hsl(187,86%,49%);
$clr-light-teal: hsl(187,97%,87%);

:root {

  --clr-dark: hsl(0,0%,12%);
  --clr-dark-alt: hsl(203,22%,7%);

  --clr-light: hsl(180,100%,98%);
  --clr-darker-teal: hsl(187,100%,21%);
  --clr-dark-teal: hsl(187,76%,40%);
  --clr-teal: hsl(187,86%,49%);
  --clr-light-teal: hsl(187,97%,87%);

  --clr-main: var( --clr-light-1-main);
  --clr-alt: var( --clr-light-1-alt);
  --clr-accent: var( --clr-light-1-accent);
  --clr-contrast: var( --clr-light-1-contrast);

  //primary light theme palette

  --clr-light-1-main: #fff;
  --clr-light-1-reverse: #222;
  --clr-light-1-alt: #A6F6F1;
  --clr-light-1-accent: #4ccdc6;
  --clr-light-1-contrast: #22776f;

  //primary dark theme palette

  --clr-dark-1-main: #1f1f1f;
  --clr-dark-1-reverse: #fff;
  --clr-dark-1-alt: #003638;
  --clr-dark-1-accent: #4ccdc6;
  --clr-dark-1-contrast: #6cdbdd;

}
.body--dark {

  --clr-main: var( --clr-dark-1-main);
  --clr-reverse: var( --clr-dark-1-reverse);
  --clr-alt: var( --clr-dark-1-alt);
  --clr-accent: var( --clr-dark-1-accent);
  --clr-contrast: var( --clr-dark-1-contrast);


  // --clr-main: var(--clr-dark);
  // --clr-alt: var(--clr-dark-alt);
  // --clr-accent: var(--clr-teal);
  // --clr-accent-alt: var(--clr-dark-teal);
  // --clr-reverse: var(--clr-light);

  // --clr-text: hsl(180,30%,60%);
  // --clr-text-alt: hsl(187,70%,45%);
}
.body--light {

  --clr-main: var( --clr-light-1-main);
  --clr-reverse: var( --clr-light-1-reverse);
  --clr-alt: var( --clr-light-1-alt);
  --clr-accent: var( --clr-light-1-accent);
  --clr-contrast: var( --clr-light-1-contrast);

  // --clr-main: var(--clr-light);
  // --clr-alt: var(--clr-light-teal);
  // --clr-accent: var(--clr-dark-alt);
  // --clr-accent-alt: hsl(187,100%,30%);
  // --clr-reverse: var(--clr-dark);

  // --clr-text: var(--clr-dark);
  // --clr-text-alt: hsl(203, 30%, 20%);
}