/* app global css */
:root {
    --w-color-almost-black: #222;
    --w-color-blue-white: #e8ffff;
    --w-color-dark-blue: #0e1316;
    --w-color-dark-teal: #29a19c;
    --w-color-teal: #5fc4bf;
    --w-color-light-teal: #84d2ce;
    scroll-behavior: smooth;
}
  
@media (prefers-reduced-motion: reduce) {
    :root {
      scroll-behavior: auto;
    }
} 