/* app global css */
:root {
    --w-color-almost-black: #222;
    --w-color-blue-white: #e8ffff;
    --w-color-dark-blue: #0e1316;
    --w-color-dark-teal: #29a19c;
    --w-color-teal: #5fc4bf;
    --w-color-light-teal: #84d2ce;
    scroll-behavior: smooth;
}
body {
  overscroll-behavior: none;
}
  
@media (prefers-reduced-motion: reduce) {
    :root {
      scroll-behavior: auto;
    }
}



body.no-touch.body--dark ::-webkit-scrollbar {
	width: 12px;
  background: rgba(0,0,0,.3);
  border-radius: 6px;
  pointer-events: none;
}
body.no-touch.body--dark ::-webkit-scrollbar-thumb {
	border-radius: 6px;
  box-shadow: inset 0 0 6px rgba(0,0,0,1);
  pointer-events: none;
}
body.no-touch.body--dark ::-webkit-scrollbar-thumb:hover {
	box-shadow: inset 0 0 3px rgba(54,217,210,0.5);
}
body.no-touch.body--dark ::-webkit-scrollbar-thumb:active {
	box-shadow: inset 0 0 6px rgba(54,217,210,0.5);
}
body.no-touch.body--light ::-webkit-scrollbar {
	width: 12px;
  background: rgba(0,0,0,.3);
  border-radius: 6px;
}
body.no-touch.body--light ::-webkit-scrollbar-thumb {
	border-radius: 6px;
  background: rgba(0,0,0,.2);
}
body.no-touch.body--light ::-webkit-scrollbar-thumb:hover {
	background: rgba(0,0,0,.25);
}
body.no-touch.body--light ::-webkit-scrollbar-thumb:active {
	background: rgba(0,0,0,.3);
}



body.no-touch.body--dark ::-moz-scrollbar {
	width: 12px;
  background: rgba(0,0,0,.3);
  border-radius: 6px;
  pointer-events: none;
}
body.no-touch.body--dark ::-moz-scrollbar-thumb {
	border-radius: 6px;
  box-shadow: inset 0 0 6px rgba(0,0,0,1);
  pointer-events: none;
}
body.no-touch.body--dark ::-moz-scrollbar-thumb:hover {
	box-shadow: inset 0 0 3px rgba(54,217,210,0.5);
}
body.no-touch.body--dark ::-moz-scrollbar-thumb:active {
	box-shadow: inset 0 0 6px rgba(54,217,210,0.5);
}
body.no-touch.body--light ::-moz-scrollbar {
	width: 12px;
  background: rgba(0,0,0,.3);
  border-radius: 6px;
}
body.no-touch.body--light ::-moz-scrollbar-thumb {
	border-radius: 6px;
  background: rgba(0,0,0,.2);
}
body.no-touch.body--light ::-moz-scrollbar-thumb:hover {
	background: rgba(0,0,0,.25);
}
body.no-touch.body--light ::-moz-scrollbar-thumb:active {
	background: rgba(0,0,0,.3);
}