{
    "module": {
        "type": "commonjs"
    },
    "exclude": [
        "(.*).(spec|test).(j|t)s$"
    ],
    "jsc": {
        "baseUrl": "src",
        "paths": {
            "@controller/*": ["controller/*"],

            "@crypto/*": ["crypto/*"],

            "@lobby/class": ["game/lobby/class.ts"],
            "@wikiApi/*": ["game/wikiApi/*"],
            "@gameMode/*": ["game/lobby/gameMode/*"],
            "@gamePhase/*": ["game/lobby/gameMode/gamePhase/*"],
            "@packet/*": ["game/lobby/packet/*"],
            "@player/*": ["game/lobby/player/*"],

            "@lang": ["lang/index.ts"],
            "@lang/*": ["lang/*"],

            "@reply/*": ["reply/*"],

            "@utils": ["utils/index.ts"],
            "@utils/*": ["utils/*"]
        },
        "target": "es2022",
        "parser": {
            "syntax": "typescript"
        }
        // we remove minify it seems to impact perf a lot x100 on foreach loop with null verification
        // ,
        // "minify": {
        //     "mangle": true,
        //     "compress": true
        // }
    },
    // "minify": true,
    "env": {
        "targets": {
            "node": 16
        }
    }
}
